/* General Styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.navbar {
  background-color: #255538; 
  padding: 10px;
  border-radius: 7px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

/* Form Section */
.form-section {
  padding: 30px;
  background-color: #fff;
  text-align: center;
  flex: 1; /* This makes the form section take up remaining space */
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-form {
  display: flex;
  flex-direction: column;
}

.recipe-form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.recipe-form input, .recipe-form textarea {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.recipe-form textarea {
  resize: vertical;
}

.recipe-form button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.recipe-form button:hover {
  background-color: #555;
}

/* Footer */
footer {
  background-color: #255538;
  color: #fff;
  padding: 15px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}

.footer-item {
  text-align: center;
  margin: 10px 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: row;
  }
}

@media (max-width: 480px) {
  .footer-item {
    font-size: 0.9em;
  }
}
