/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3e5d8;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  color: #8B4513;
}

/* Navbar Styles */
.navbar {
  background-color: #255538;
  padding: 10px;
  border-radius: 7px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  font-weight: bold;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar-menu li {
  margin: 0;
}

.navbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

/* Main Content Styles */
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipe-details, .ingredients {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.more-recipes {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.recipes-nutrition-content {
  justify-content: center;
  justify-content: center;
  align-items: center;
  
}

.recipe-details h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

.ingredients h2, .nutrition h2, .more-recipes h2 {
  margin-top: 0;
}

/* Nutrition Section Styles */
.nutrition {
  padding: 20px;
  margin-top: 20px;
}

.nutrition ul {
  list-style-type: none;
  padding: 0;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #333;
}

.nutrition ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 0;
}

.nutrition ul li:last-child {
  border-bottom: none;
}

.nutrition ul li span {
  font-weight: bold;
  color: #8B4513;
}

/* Image Styles */
.fotos-aside {
  height: 70px;
  width: 70px;
  border-radius: 10px;
}

/* Footer Styles */
.footer {
  background-color: #255538;
  color: #fff;
  padding: 5px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footer-item {
  flex: 1 1 150px;
  text-align: center;
  margin: 10px 0;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .navbar-menu {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .recipe-details, .ingredients, .nutrition, .more-recipes {
    margin-bottom: 1.5rem;
  }

  main, .recipe-content, aside {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .recipe-content {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .navbar-logo {
    font-size: 1.2rem;
  }

  .recipe-details h1 {
    font-size: 1.25rem;
  }

  .ingredients, .nutrition, .more-recipes {
    padding: 0.5rem;
    text-align: center;
    width: 90%;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    font-size: 0.9em;
    text-align: center;
  }
}
