/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3e5d8;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  gap: 1rem;
}

.navbar-menu li a {
  color: white;
  text-decoration: none;
}

.navbar-button {
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}

.recipe-content {
  display: flex;
  flex-direction: column;
}

.recipe-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.recipe-details {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details h1 {
  font-size: 1.5rem;
  margin-top: 0;
}

.ingredients, .nutrition, .more-recipes {
  background-color: #fff;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.ingredients h2, .nutrition h2, .more-recipes h2 {
  margin-top: 0;
}

@media screen and (max-width: 1024px) {
  main {
      grid-template-columns: 1fr;
  }
}

footer {
  background-color: #255538;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
.preparation-time {
  width: 780px;
height: 168px;
background-color: pink;
border-radius: 10px;


}